name: Build and Push CI Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: anketclouddrove/ci
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: anketclouddrove/ci
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix={{branch}}-
            type=raw,value=0.0.2,enable={{is_default_branch}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: setup smurf
        uses: clouddrove/smurf@v0.1.3
        with:
          version: latest

      - name: build and push docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
                - name: Build and Push Docker Image
        run: |
          smurf sdkr provision-hub $IMAGE_NAME:${{ github.sha }} \
            --file ci/Dockerfile \
            --build-arg DOCKER_USERNAME=$DOCKER_USERNAME \
            --build-arg DOCKER_PASSWORD=$DOCKER_PASSWORD

      # - name: Build and Push Docker Image
      #   uses: clouddrove/github-shared-workflows/.github/workflows/smurf-docker.yml@feat/smurf_docker
      #   with:
      #     image_name: anketclouddrove/ci
      #     dockerfile_path: ci/Dockerfile
      #     context: ci
      #     tags: ${{ steps.meta.outputs.tags }}
      #     labels: ${{ steps.meta.outputs.labels }}